@import "variables";
@import "normalize";


html {
  box-sizing:border-box;
}

*{
   box-sizing: inherit;
 }

.sec__title {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.btn {
  background-color: $green;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
  &:hover{
    background-color: darken($green, 10%);
  }
  &:focus {
    outline: none;
  }
}

.btn_reverse {
  background-color: #aaa;
}

.rubles {
  font-weight: 600;
  .fa {
    font-size: 14px;
  }
}

.fixed {
  height: 100vh;
  overflow: hidden;
  padding-right: 17px;
}


@media only screen and (max-width: 991px){
  .fixed {
    padding-right: 0;
  }
}
